{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-md-6">
    {% if product.image %}
      <img src="{{ product.image.url }}" class="img-fluid rounded" alt="{{ product.name }}">
    {% endif %}
  </div>
  <div class="col-md-6">
    <h2>{{ product.name }}</h2>
    <p>{{ product.description }}</p>
    <h4>{{ product.price }}₽</h4>
    <p><strong>На складе:</strong> {{ product.stock }} шт.</p>
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-neon">Добавить в корзину</button>
    </form>
    <a href="{% url 'products:product_list' %}" class="btn btn-outline-light mt-2">← Назад</a>
  </div>
</div>
{% endblock %}
